<html>
  <body>
    <form method="POST" action="/new">
      <h1>Add a new message</h1>
      <input type="text" name="username">
      <input type="textarea" name="message">
      <button>Submit</button>
    </form>
  </body>
</html>